:root {
    --gradient: linear-gradient(to bottom right, #614385, #516395);
    --text-light: #fff;
    --status1: #7cf796;
    --status2: #f9fc8d;
    --status3: #fc8d8d;
    --alertcolor: var(--status1);
}
body {
    font-family: 'Quicksand', sans-serif;
    background: var(--gradient);
    color: var(--text-light);
}
#status {
    color: var(--alertcolor);
}
.fw-500 {
    font-weight: 500;
}